@font-face {
    font-family: "gunsnroses";
    src: url("../fonts/gunsnroses.ttf");
}

body {
    background-image: url('../images/rocknroll.jpg');
}

h1 {
    font-size: 175px;
    font-family: "gunsnroses";
    color: black;
}

p {
    font-size: 32px;
}

.main-body {
    background-color: red;
    margin-top: 35px;
    margin-bottom: 35px;
    overflow: auto;
    min-height: 600px;
    padding-top: 10px;
    opacity: .9;
}

.time {
    font-size: 24px;
}

#submit {
    margin-bottom: 20px;
}
.soundPlayer{
}
